.containerfooter{
    width:100vw;
    height: 80px;
    color:black;
    text-align: center;
}
   .footerwrap:hover{
    border-top:2px solid #f9f8f8;
    box-shadow: 0 0 15px 10px #eb4c87;
    cursor: pointer;
    background-color:#f9f8f8;
    color:#eb4c87;
   }

   .footerwrap {
    background-color:#eb4c87;
    
    position: fixed;
    width: 12%;
    bottom: 0;
    color: white;
    font-size: 15px;
    border-radius:50px;
    left:87%;
    margin-bottom: 100px;
   }

   .footermain{
    padding-top: 10px;
   }

   @media (max-width: 600px) {
    .footerwrap {
        font-size: 9px;
        
       }
  }
  @media (max-width: 450px) {
    .footerwrap {
        font-size: 12px !important;
        width: 150px !important;
        left:60% !important;
       }


  }
  /* @media (max-width: 400px) {
    .footerwrap {
        left:45% !important;
       } */


  }
  @media (max-width: 750px) {
    .footerwrap {
        font-size: 12px;
        width: 150px;
        left:72%;
       }

  }
  @media (max-width: 950px) {

    .footerwrap {
        font-size: 12px;
        width: 150px;
        left:77%;
       }

}
@media (max-width: 1150px) {

    .footerwrap {
        font-size: 12px;
        width: 150px;
        left:84%;
       }

}

@media (max-width: 550px) {
    

    .footerwrap {
     font-size: 12px;
     width: 150px;
     left:67%;
    }

}


